<ActionBar title="Contact Us" class="action-bar">
    <NavigationButton text="Menu" icon="res://ic_drawer" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <ScrollView orientation="vertical" tkMainContent class="page">
        <StackLayout class="m-5">
            <StackLayout class="p-10 border">
            <Label class="h2" text="Contact Information"></Label>
            <Label class="m-l-30 m-t-25 body" text="121, Clear Water Bay Road"></Label>
            <Label class="m-l-30 body" text="Clear Water Bay, Kowloon"></Label>
            <Label class="m-l-30 body" text="Tel: +852 1234 5678"></Label>
            <Label class="m-l-30 body" text="Fax: +852 8765 4321"></Label>
            <Label class="m-l-30 body" text="Email:confusion@food.net"></Label>
        </StackLayout>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>
